@model string
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function()
    {

        $('#OldPassword').keyup(function () {
            $('span.error-OldPassword').remove();
            $('span.error-samePassword').remove();
            var inputVal = $(this).val();
            var emailFreeReg = /^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@('@')#$%]).{6,20})$/;
            if(inputVal=="")
            {
                $(this).after('<span class="error error-OldPassword" style="color:red;"></br>*Required!</span>');
            }
            else if(inputVal==$('#new_password').val())
            {
                $(this).after('<span class="error error-samePassword" style="color:red;"></br>New Password and old Password is Same</span>');
            }


        });
        $('#OldPassword').focusout(function () {
            $('span.error-OldPassword').remove();
            $('span.error-samePassword').remove();
            var inputVal = $(this).val();
            var emailFreeReg = /^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@('@')#$%]).{6,20})$/;
            if(inputVal=="")
            {
                $(this).after('<span class="error error-OldPassword" style="color:red;"></br>*Required!</span>');
            }
            else if (inputVal == $('#new_password').val()) {
                $(this).after('<span class="error error-samePassword" style="color:red;"></br>New Password and old Password is Same</span>');
            }


        });

        $('#new_password').keyup(function() {
            $('span.error-new_password').remove();
            $('span.error-samePassword').remove();
            var inputVal = $(this).val();
            var emailFreeReg = /^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@('@')#$%]).{6,20})$/;
            if(!emailFreeReg.test(inputVal)) {
                $(this).after('<span class="error error-new_password" style="color:red;"></br>Password must contains one digit from 0-9 one lowercase characters one uppercase characters contains one special symbols in the list "@('@')#$%" length at least 6 characters and maximum of 20</span>');
            }
            else if(inputVal=="")
            {
                $(this).after('<span class="error error-new_password" style="color:red;"></br>*Required!</span>');
            }
            else if (inputVal == $('#OldPassword').val()) {
                $(this).after('<span class="error error-samePassword" style="color:red;"></br>New Password and old Password is Same</span>');
            }

        });
        $('#new_password').focusout(function() {
            $('span.error-new_password').remove();
            $('span.error-samePassword').remove();
            var inputVal = $(this).val();
            var emailFreeReg = /^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@('@')#$%]).{6,20})$/;
            if(!emailFreeReg.test(inputVal)) {
                $(this).after('<span class="error error-new_password" style="color:red;"></br>Password must contains one digit from 0-9 one lowercase characters one uppercase characters contains one special symbols in the list "@('@')#$%" length at least 6 characters and maximum of 20</span>');
            }
            else if(inputVal=="")
            {
                $(this).after('<span class="error error-new_password" style="color:red;"></br>*Required!</span>');
            }
            else if (inputVal == $('#OldPassword').val()) {
                $(this).after('<span class="error error-samePassword" style="color:red;"></br>New Password and old Password is Same</span>');
            }

        });

        $('#c_password').keyup(function() {
            $('span.error-CPassword').remove();
            var c_password = $(this).val();
            var password = $('#new_password').val();

             if(c_password!=password)
            {
                $(this).after('<span class="error error-CPassword" style="color:red;"></br>Password not match!</span>');
             }



        });

        $('#c_password').focusout(function() {
            $('span.error-CPassword').remove();
            var c_password = $(this).val();
            var password = $('#new_password').val();

            if(c_password!=password)
            {
                $(this).after('<span class="error error-CPassword" style="color:red;"></br>Password not match!</span>');
            }



        });
        $('#submit').click(function() {
            $('span.error-btn').remove();
            if($('span.error').length ==0){


                return true;


            } else {
                $(this).after('<span class="error-btn" style="color:red"></br>     *Fill All Fields</span>');
                return false;
            }
        });
    });
</script>
<br />
<br />

<div class="parallax light-wrapper parallax4">
    <div class="container inner text-center">
        <div class="thin">
            <div class="carousel-wrapper">

                <h3 class="main-title">Change User Password</h3>

                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-container">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row ">
                            <div class="col-md-12">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <input class="form-control text-box single-line" id="Email" name="Email" placeholder="Email" style="width:50%" type="Email" value="@Model" readonly>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            <div class="col-md-12">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <input class="form-control text-box single-line" id="OldPassword" name="OldPassword" placeholder="Old Password" style="width:50%" type="password" value="">
                                    <span class="error error-OldPassword" style="color:red;"><br />@ViewBag.ChangePasswordError</span>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            <div class="col-md-12">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <input class="form-control text-box single-line" id="new_password" name="new_password" placeholder="New Password" style="width:50%" type="password" value="">
                                    <span class="error error-new_password" style="color:red;"></span>
                                    ,/div.
                                    <div class="col-md-3"></div>
                                </div>
                            <div class="col-md-12">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <input class="form-control text-box single-line" id="c_password" name="c_password" placeholder="Confirm Password" style="width:50%" type="password" value="">
                                    <span class="error error-CPassword" style="color:red;"></span>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            <br />
                            <input type="submit" value="Update Password" id="submit" class="btn btn-default" style="width:48%" />

                            <br />
                        </div>





                    </div>
                }
            </div>
        </div>
    </div>
</div>


