@model PDP_Payroll.Models.CompanyModel

@{
    ViewBag.Title = "CompanyView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="parallax light-wrapper parallax4">
    <div class="container inner ">
        <div class="thin">
            <div class="carousel-wrapper">
                <h3 class="main-title text-center">Your Company</h3>
                <a href="~/Home/CompanyEdit" style="float:right;margin-right:20%"><span class="icon-edit"></span>Edit Company</a>
                <dl class="dl-horizontal" style="margin-left:25%">
                    
                    <dt>
                        Company Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.company_name)
                    </dd>
                    <dt>
                        State
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.state.state_name)
                    </dd>
                    <dt>
                        Company Address
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.company_address)
                    </dd>
                   
                    <dt>
                        Company Phone No
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.company_phone)
                    </dd>

                    <dt>
                        Company Email
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.company_Email)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>